{% comment %}
  Placeholder to allow defining custom things in the index page, in principle, you can add anything here.
{% endcomment %}

<div class="posts">
  <article class="post">
    <center><h1> <span style="color:red;">U</span><span style="color:aquamarine">u</span><span style="color:deepskyblue">U</span><span style="color:indianred">W</span><span style="color:palegreen">w</span><span style="color:plum">U</span><span style="color:slateblue">P</span><span style="color:gold">O</span><span style="color:crimson">d</span> </h1></center>
    <br>
    <center><img decoding="async" id="homepage-rand-img" src="/assets/images/index_rand/compressed_webp/com_26.webp" alt="Akira!" width="300"/></center>
    <center><a style="color:darkmagenta;" href="/projects/">Projects</a> | <a style="color:firebrick;" href="/blog/">Blog</a> | <a style="color:maroon;" href="/p-p/">Source</a> | <a style="color:peru;" href="/about/">About</a></center>
    <center><h2>On <span style="color:thistle">Git{}</span></h2></center>
    <center><h4><a href="https://github.com/minoplhy" target="_blank"><i class="svg-others github"></i></a> <a href="https://owu.se/p-p/minoplhy" target="_blank"><i class="svg-others gitea"></i></a> <a href="https://framagit.org/meeillo" target="_blank"><i class="svg-others framagit"></i></a> <a href="https://codeberg.org/DoulpaGllo" target="_blank"><i class="svg-others codeberg"></i></a></h4></center>
  </article>
</div>

<script src="{{ site.baseurl }}/assets/js/kirby-img.js"></script>
<script>
  const imgArray = [
    '/assets/images/index_rand/compressed_webp/com_1.webp', 
    '/assets/images/index_rand/compressed_webp/com_2.webp', 
    '/assets/images/index_rand/compressed_webp/com_3.webp', 
    '/assets/images/index_rand/compressed_webp/com_4.webp', 
    '/assets/images/index_rand/compressed_webp/com_5.webp', 
    '/assets/images/index_rand/compressed_webp/com_6.webp', 
    '/assets/images/index_rand/compressed_webp/com_7.webp', 
    '/assets/images/index_rand/compressed_webp/com_8.webp', 
    '/assets/images/index_rand/compressed_webp/com_9.webp', 
    '/assets/images/index_rand/compressed_webp/com_10.webp', 
    '/assets/images/index_rand/compressed_webp/com_11.webp', 
    '/assets/images/index_rand/compressed_webp/com_12.webp', 
    '/assets/images/index_rand/compressed_webp/com_13.webp', 
    '/assets/images/index_rand/compressed_webp/com_14.webp', 
    '/assets/images/index_rand/compressed_webp/com_15.webp', 
    '/assets/images/index_rand/compressed_webp/com_16.webp', 
    '/assets/images/index_rand/compressed_webp/com_17.webp', 
    '/assets/images/index_rand/compressed_webp/com_18.webp', 
    '/assets/images/index_rand/compressed_webp/com_19.webp', 
    '/assets/images/index_rand/compressed_webp/com_20.webp', 
    '/assets/images/index_rand/compressed_webp/com_21.webp', 
    '/assets/images/index_rand/compressed_webp/com_22.webp', 
    '/assets/images/index_rand/compressed_webp/com_23.webp', 
    '/assets/images/index_rand/compressed_webp/com_24.webp', 
    '/assets/images/index_rand/compressed_webp/com_25.webp', 
    '/assets/images/index_rand/compressed_webp/com_26.webp',
    '/assets/images/index_rand/compressed_webp/com_27.webp',
    '/assets/images/index_rand/compressed_webp/com_28.webp',
    '/assets/images/index_rand/compressed_webp/com_29.webp',
    '/assets/images/index_rand/compressed_webp/com_30.webp',
    '/assets/images/index_rand/compressed_webp/com_31.webp',
    '/assets/images/index_rand/compressed_webp/com_32.webp',
    '/assets/images/index_rand/compressed_webp/com_33.webp',
    '/assets/images/index_rand/compressed_webp/com_34.webp',
    '/assets/images/index_rand/compressed_webp/com_35.webp'
  ];
  document.onload = randomImageBroker('homepage-rand-img', imgArray);
</script>