{% comment %}
  Placeholder to allow defining custom things in the index page, in principle, you can add anything here.
{% endcomment %}

<div class="posts">
  <article class="post">
    <center><h1> <span style="color:red;">U</span><span style="color:aquamarine">u</span><span style="color:deepskyblue">U</span><span style="color:indianred">W</span><span style="color:palegreen">w</span><span style="color:plum">U</span><span style="color:slateblue">P</span><span style="color:gold">O</span><span style="color:crimson">d</span> </h1></center>
    <br>
    <center>
      <img type="image/avif" decoding="async" id="homepage-rand-img" src="/assets/images/index_rand/compressed_avif/26.avif" alt="Akira!" width="300"/>
    </center>
    <center><a style="color:darkmagenta;" href="/projects/">Projects</a> | <a style="color:firebrick;" href="/blog/">Blog</a> | <a style="color:maroon;" href="/p-p/">Source</a> | <a style="color:peru;" href="/about/">About</a></center>
    <center><h2>On <span style="color:thistle">Git{}</span></h2></center>
    <center><h4><a href="https://github.com/minoplhy" target="_blank"><i class="svg-others github"></i></a> <a href="https://owu.se/p-p/minoplhy" target="_blank"><i class="svg-others gitea"></i></a> <a href="https://framagit.org/meeillo" target="_blank"><i class="svg-others framagit"></i></a> <a href="https://codeberg.org/DoulpaGllo" target="_blank"><i class="svg-others codeberg"></i></a></h4></center>
  </article>
</div>

<script src="{{ site.baseurl }}/assets/js/kirby-img.js"></script>
<script>
  const imgArray = [
    '/assets/images/index_rand/compressed_avif/1.avif', 
    '/assets/images/index_rand/compressed_avif/2.avif', 
    '/assets/images/index_rand/compressed_avif/3.avif', 
    '/assets/images/index_rand/compressed_avif/4.avif', 
    '/assets/images/index_rand/compressed_avif/5.avif', 
    '/assets/images/index_rand/compressed_avif/6.avif', 
    '/assets/images/index_rand/compressed_avif/7.avif', 
    '/assets/images/index_rand/compressed_avif/8.avif', 
    '/assets/images/index_rand/compressed_avif/9.avif', 
    '/assets/images/index_rand/compressed_avif/10.avif', 
    '/assets/images/index_rand/compressed_avif/11.avif', 
    '/assets/images/index_rand/compressed_avif/12.avif', 
    '/assets/images/index_rand/compressed_avif/13.avif', 
    '/assets/images/index_rand/compressed_avif/14.avif', 
    '/assets/images/index_rand/compressed_avif/15.avif', 
    '/assets/images/index_rand/compressed_avif/16.avif', 
    '/assets/images/index_rand/compressed_avif/17.avif', 
    '/assets/images/index_rand/compressed_avif/18.avif', 
    '/assets/images/index_rand/compressed_avif/19.avif', 
    '/assets/images/index_rand/compressed_avif/20.avif', 
    '/assets/images/index_rand/compressed_avif/21.avif', 
    '/assets/images/index_rand/compressed_avif/22.avif', 
    '/assets/images/index_rand/compressed_avif/23.avif', 
    '/assets/images/index_rand/compressed_avif/24.avif', 
    '/assets/images/index_rand/compressed_avif/25.avif', 
    '/assets/images/index_rand/compressed_avif/26.avif',
    '/assets/images/index_rand/compressed_avif/27.avif',
    '/assets/images/index_rand/compressed_avif/28.avif',
    '/assets/images/index_rand/compressed_avif/29.avif',
    '/assets/images/index_rand/compressed_avif/30.avif',
    '/assets/images/index_rand/compressed_avif/31.avif',
    '/assets/images/index_rand/compressed_avif/32.avif',
    '/assets/images/index_rand/compressed_avif/33.avif',
    '/assets/images/index_rand/compressed_avif/34.avif',
    '/assets/images/index_rand/compressed_avif/35.avif',
    '/assets/images/index_rand/compressed_avif/36.avif',
    '/assets/images/index_rand/compressed_avif/37.avif',
    '/assets/images/index_rand/compressed_avif/38.avif',
    '/assets/images/index_rand/compressed_avif/39.avif',
    '/assets/images/index_rand/compressed_avif/40.avif'
  ];
  document.onload = randomImageBroker('homepage-rand-img', imgArray);
</script>