{% comment %}
  Placeholder to allow defining custom things in the index page, in principle, you can add anything here.
{% endcomment %}

<div class="posts">
  <article class="post">
    <center><h1> <span style="color:red;">U</span><span style="color:aquamarine">u</span><span style="color:deepskyblue">U</span><span style="color:indianred">W</span><span style="color:palegreen">w</span><span style="color:plum">U</span><span style="color:slateblue">P</span><span style="color:gold">O</span><span style="color:crimson">d</span> </h1></center>
    <br>
    <center><img decoding="async" id="homepage-rand-img" src="/assets/images/index_rand/com_26.gif" alt="Akira!" width="300"/></center>
    <center><a style="color:darkmagenta;" href="/projects/">Projects</a> | <a style="color:firebrick;" href="/blog/">Blog</a> | <a style="color:maroon;" href="/p-p/">Source</a> | <a style="color:peru;" href="/about/">About</a></center>
    <center><h2>On <span style="color:thistle">Git{}</span></h2></center>
    <center><h4><a href="https://github.com/minoplhy" target="_blank"><i class="svg-others github"></i></a> <a href="https://owu.se/p-p/minoplhy" target="_blank"><i class="svg-others gitea"></i></a> <a href="https://framagit.org/meeillo" target="_blank"><i class="svg-others framagit"></i></a> <a href="https://codeberg.org/DoulpaGllo" target="_blank"><i class="svg-others codeberg"></i></a></h4></center>
  </article>
</div>

<script src="{{ site.baseurl }}/assets/js/kirby-img.js"></script>
<script>
  const imgArray = [
    '/assets/images/index_rand/com_1.gif', 
    '/assets/images/index_rand/com_2.gif', 
    '/assets/images/index_rand/com_3.gif', 
    '/assets/images/index_rand/com_4.gif', 
    '/assets/images/index_rand/com_5.gif', 
    '/assets/images/index_rand/com_6.gif', 
    '/assets/images/index_rand/com_7.gif', 
    '/assets/images/index_rand/com_8.gif', 
    '/assets/images/index_rand/com_9.gif', 
    '/assets/images/index_rand/com_10.gif', 
    '/assets/images/index_rand/com_11.gif', 
    '/assets/images/index_rand/com_12.gif', 
    '/assets/images/index_rand/com_13.gif', 
    '/assets/images/index_rand/com_14.gif', 
    '/assets/images/index_rand/com_15.gif', 
    '/assets/images/index_rand/com_16.gif', 
    '/assets/images/index_rand/com_17.gif', 
    '/assets/images/index_rand/com_18.gif', 
    '/assets/images/index_rand/com_19.gif', 
    '/assets/images/index_rand/com_20.gif', 
    '/assets/images/index_rand/com_21.gif', 
    '/assets/images/index_rand/com_22.gif', 
    '/assets/images/index_rand/com_23.gif', 
    '/assets/images/index_rand/com_24.gif', 
    '/assets/images/index_rand/com_25.gif', 
    '/assets/images/index_rand/com_26.gif',
    '/assets/images/index_rand/com_27.gif',
    '/assets/images/index_rand/com_28.gif',
    '/assets/images/index_rand/com_29.gif',
    '/assets/images/index_rand/com_30.gif',
    '/assets/images/index_rand/com_31.gif',
    '/assets/images/index_rand/com_32.gif',
    '/assets/images/index_rand/com_33.gif',
    '/assets/images/index_rand/com_34.gif',
    '/assets/images/index_rand/com_35.gif'
  ];
  document.onload = randomImageBroker('homepage-rand-img', imgArray);
</script>